.featured{
  width: 100%;
  /* width: 1024px; */
  max-height: 40vh;
  display: flex;
  gap: 1em;
  overflow-x: scroll;
  /* border: #000 solid 3px; */
  padding: 1%;
}

.featuredItem{
  color: rgb(0, 0, 0);
  border-radius: 10px;
  width: 250px;
  /* height: 100%; */
  flex:1;
  /* border: #000 solid 2px; */
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
}



.featuredImg{
  border-radius: 10px;
  width: 100%;
  height: 76%;
  object-fit: cover;
}

.featuredTitles{
  border-radius: 10px;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* font-weight: bold; */
  /* border: #000 solid 1px; */
}


@media screen and (max-width:400px){
  .featured{
    /* background-color: yellow; */
    margin: 2%;
  }

  .featuredItem{
    min-width: 150px;
  }

  .featuredTitles{
    font-size: 15px;
  }
}