.mail{
  width: 90%;
  margin-top: 20px;
  background-color: #003580;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 1% 0 3% 5%;
}

.mailInputContainer{
  display: flex;
  align-items: center;

}

.mailInputContainer>input{
  width: 100%;
  height: 1.5em;
  padding: 5%;
  border: none;
  margin-right: 10px;
  border-radius: 5px;
}

.mailInputContainer>button{
  height: 3.4em;
  background-color: #0071c2;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}