.homeContainer{
  margin-top: 0;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  /* background-color: aqua; */
  padding: 0 5%;
  /* border: #000 solid 3px; */
}

@media screen and (max-width:400px) {
  .homeTitle{
    font-size: 25px;
  }  
}
